GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_ENCRYPTION_KEY=
DATABASE_URL=postgresql://mitra:mitra_pass@localhost:5432/mitradb
POSTGRES_USER=mitra
POSTGRES_PASSWORD=mitra_pass
POSTGRES_DB=mitradb